<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="defaultConnection" connectionString="Server=localhost;Initial Catalog=plex_notifier;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <add name="UserContext" connectionString="Server=localhost;Initial Catalog=plex_notifier;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="accountSid" value="ENTER ACCOUNT SID HERE" />
    <add key="authToken" value="ENTER AUTH TOKEN HERE" />
    <add key="myTwilioNumber" value="ENTER TWILIO NUMBER HERE" />
  </appSettings>
</configuration>
